<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="story-page">
    <div class="options-container">
      <h1>{{ title }}</h1>
      {% if story %}
     
      <p>{{ story }}</p>

      {% else %}
      <form method="POST">
        <label>የስራ_ዘርፍ</label><br />
        <input
          type="text"
          name="የስራ_ዘርፍ"
          value="{{ የስራ_ዘርፍ }}"
          required
        /><br /><br />

        <label>ቀለም</label><br />
        <input
          type="text"
          name="ቀለምም"
          value="{{ ቀለምም }}"
          required
        /><br /><br />

        <label>ተቋም</label><br />
        <input
          type="text"
          name="ተቋምም"
          value="{{ ተቋምም }}"
          required
        /><br /><br />

        <button type="submit" class="option-btn">ታሪኩን ይመልከቱ</button>
      </form>
      {% endif %}

      <br />
      <a href="/topics" class="option-btn">← ወደ ርዕሶች ይመለሱ</a>
    </div>
  </body>
</html>
