<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="story-page">
    <div class="options-container">
      <h1>{{ title }}</h1>
      {% if story %}
      <p>{{ story }}</p>
      {% else %}
      <form method="POST">
        <label>የቤት_እቃ</label><br />
        <input
          type="text"
          name="የቤት_እቃቃ"
          value="{{ የቤት_እቃቃ }}"
          required
        /><br /><br />

        <label> የሰውነት_ክፍል</label><br />
        <input
          type="text"
          name="የሰውነት_ክፍል"
          value="{{ የሰውነት_ክፍል }}"
          required
        /><br /><br />

        <label>ተቋም</label><br />
        <input
          type="text"
          name="ተተቋም"
          value="{{ ተተቋም }}"
          required
        /><br /><br />

        <button type="submit" class="option-btn">ታሪኩን ይመልከቱ</button>
      </form>
      {% endif %}

      <br />
      <a href="/topics" class="option-btn">← ወደ ርዕሶች ይመለሱ</a>
    </div>
  </body>
</html>
